<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Sign-Up/Login Form</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/style.css?afterrrrrrr">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("model").html("");
            $("price").html("");
            $("mail_address").html("");
            $("#order-box").html("");

            showOrder();
        });

        function tracking() {
            let model = $("#model").val();
            let price = $("#price").val();
            let mail_address = $("#mail_address").val();

            if (model == "") {
                alert("원하시는 제품의 페이지 링크를 입력해주세요!");
                $("#model").focus();
                return;
            }
            if (price == "") {
                alert("희망하시는 가격을 입력해주세요!");
                $("#price").focus();
                return;
            }
            if (mail_address == "") {
                alert("알림메일을 발송할 메일 주소를 입력해주세요!");
                $("#mail_address").focus();
                return;
            }

            $.ajax({
                type: "POST",
                url: "/infos",
                data: {
                    'model': model,
                    'price': price,
                    'mail_address': mail_address
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }


        function showOrder() {
            $.ajax({
                type: "GET",
                url: "/infos",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let infos = response["infos"];
                        for (let i = 0; i < infos.length; i++) {
                            makeCard(
                                i+1.,
                                infos[i]["price"],
                                infos[i]["mail_address"],
                                infos[i]["current_price"]);

                        }
                    } else {
                        alert("정보를 받아오지 못했습니다");
                    }
                }
            })
        }


        function makeCard(model, price, mail, current) {
            let tempHtml = `<tr>
                            <td>${model}</td>
                            <td>${price}</td>
                            <td>${mail}</td>
                            <td>${current}</td>
                        </tr>`;
            $("#order-box").append(tempHtml);
        }

        function deleteOrder() {

            $.ajax({
                type: "POST",
                url: "/delete",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('추적은 여기까지!')
                        window.location.reload()
                    }
                }
            });
        }

    </script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#signup">가격 추적!</a></li>
        <li class="tab"><a href="#login">추적 현황!</a></li>
    </ul>

    <div class="tab-content">
        <div id="signup">
            <h1>PRICE HUNTER</h1>
            <p class="h2">밑에 제시된 웹사이트에 접속하여 구매를 원하는 제품페이지의 주소와
                <br>지불 용의가 있는 가격, 이용자의 메일 주소를 입력해주세요.
                <br> 원하시는 제품이 해당 가격에 도달할 경우 입력하신 메일로 알림을 보내드립니다! </p>
            <p class="dsp"> <br>*가격은 해당 사이트에 표기돼있는 화폐의 기준에 따라 작성해주세요</p>
                <p class="example">ex)가격이 $로 표시된 페이지는 $기준 희망가격 작성</p>
            <a href="https://www.yoox.com/kr" target="_blank">"YOOX.COM"</a><br>
            <a href="https://www.fwrd.com/?navsrc=logo" target="_blank">"FORWARD by Elyse Walker"</a><br>
            <a href="https://www.balaan.co.kr/shop/main/index.php?" target="_blank">"BALLAN"</a>

            <p></p>

            <form action="/" method="post">


                <div class="field-wrap">
                    <label>
                        제품페이지 주소<span class="req">*</span>
                    </label>
                    <input type="text" id="model" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label>
                        가격<span class="req">*</span>
                    </label>
                    <input type="text" id="price" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label>
                        이메일 주소<span class="req">*</span>
                    </label>
                    <input type="email" id="mail_address" required autocomplete="off"/>
                </div>

                <button onclick="tracking()" type="button" class="button button-block"/>
                Get Started</button>

            </form>

        </div>

        <div id="login">
            <h1>현재 추적중인 정보예요!</h1>

            <form action="/" method="post">

                <div class="reviews">
                    <table class="rwd-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>희망 가격</th>
                            <th>이메일</th>
                            <th>현재 가격</th>
                        </tr>
                        </thead>
                        <tbody id="order-box">
                        <tr>
                            <td>temp</td>
                            <td>temp</td>
                            <td>temp</td>
                            <td>temp</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div>
                    <button onclick="deleteOrder()" type="button" class="button button-block"/>
                    STOP TRACKING!</button></div>
                <p class="stop-track"><br>* "STOP TRACKING!" 버튼을 누르면 실행되던 모든 프로세스를 중단합니다.</p>


            </form>

        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../static/script.js"></script>

</body>
</html>
